<launch>
  <rosparam command="load" file="$(find convex_plane_extraction_ros)/config/image_loader_demo_parameters.yaml" />

  <!-- Load the image. -->
  <node pkg="grid_map_demos" type="image_publisher.py" name="image_publisher" output="screen">
   <param name="image_path" value="$(find convex_plane_extraction_ros)/data/demo_map.png" />
   <param name="topic" value="~image" />
  </node>

  <!-- Launch the grid map image to grid map demo node. -->
  <node pkg="grid_map_demos" type="image_to_gridmap_demo" name="image_to_gridmap_demo" output="screen" />

  <node pkg="convex_plane_extraction_ros" type="convex_plane_extraction_ros" name="convex_plane_extraction_ros" output="screen">
      <rosparam file="$(find convex_plane_extraction_ros)/config/convex_plane_extraction_demo_parameters.yaml" command="load"/>
    </node>
  <node type="rviz" name="rviz" respawn="true" pkg="rviz" args="-d $(find convex_plane_extraction_ros)/rviz/config_demo.rviz" />
</launch>
