###### Requirements without Version Specifiers ######`
numpy
scipy==1.7
ruamel.yaml
opencv-python
simple-parsing
scikit-image==0.19
matplotlib
catkin-tools
networkx==3.0
# cupy

###### Requirements with Version Specifiers ######`
shapely==1.7.1
