###### Requirements without Version Specifiers ######`
numpy
scipy==1.7
dataclasses
ruamel.yaml
opencv-python
simple_parsing
scikit-image
matplotlib
xmltodict

###### Requirements with Version Specifiers ######`
shapely==1.7.1
