###### Requirements without Version Specifiers ######`
numpy
scipy==1.7
dataclasses
ruamel.yaml
opencv-python
simple-parsing
scikit-image
matplotlib
# cupy

###### Requirements with Version Specifiers ######`
shapely==1.7.1
