<launch>

  <!-- Launch the plane decomposition node. -->
  <include file="$(find convex_plane_decomposition_ros)/launch/convex_plane_decomposition.launch">
    <arg name="node_parameter_file"    value="standalone_node.yaml"/>
  </include>

  <!-- Launch rviz. -->
  <include file="$(find convex_plane_decomposition_ros)/launch/rviz.launch"/>

</launch>
