<launch>

  <arg name="datafile"             default="terrain.png" />
  <arg name="max_height"           default="1.25" />

  <include file="$(find convex_plane_decomposition_ros)/launch/demo.launch">
    <arg name="datafile"    value="$(arg datafile)"/>
    <arg name="max_height"  value="$(arg max_height)"/>
  </include>

  <node pkg="segmented_planes_terrain_model" type="segmented_planes_terrain_model_demo_node" name="segmented_planes_terrain_model_demo_node"
        output="screen" launch-prefix="">
  </node>

</launch>