<launch>
    <!-- Semantic pointcloud node -->
    <node pkg="semantic_pointcloud" type="pointcloud_node.py" name="semantic_pointcloud" args="front_cam"
          output="screen">
        <rosparam command="load" file="$(find semantic_pointcloud)/config/sensor_parameter.yaml"/>
    </node>
</launch>