<launch>
    <arg name="use_sim_time" default="true" />
    <arg name="model" default="$(find rowesys_description)/urdf/rowesys.urdf.xacro"/>

    <param name="/use_sim_time" type="bool" value="$(arg use_sim_time)" />
    <param name="robot_description" command="$(find xacro)/xacro '--inorder' $(arg model)" />

<!--    <node pkg="elevation_mapping_cupy" type="pointcloud.py" name="pointcloud" output="screen" >-->
<!--        <param name="/use_sim_time" type="boolean" value="$(arg use_sim_time)" />-->
<!--        <param name="cam_name" type="string" value="semantic_parameters" />-->
<!--        <rosparam command="load" file="$(find elevation_mapping_cupy)/config/semantic_parameters.yaml" />-->
<!--    </node>-->

    <!-- Elevation mapping node -->
    <node pkg="elevation_mapping_cupy" type="elevation_mapping_node" name="elevation_mapping" output="screen"  >
        <param name="/use_sim_time" type="bool" value="$(arg use_sim_time)" />
        <rosparam command="load" file="$(find elevation_mapping_cupy)/config/parameters.yaml" />
        <rosparam command="load" file="$(find elevation_mapping_cupy)/config/sensor_parameter.yaml" />
    </node>

     <node name="rviz" pkg="rviz" type="rviz" args="-d $(find elevation_mapping_cupy)/rviz/lonomy_single.rviz"/>
</launch>
<!--        launch-prefix="gdb -ex run - -args"-->