<?xml version="1.0" encoding="utf-8"?>

<launch>

  <arg name="rviz_config"             default="$(find elevation_mapping_cupy)/rviz/turtle_example.rviz" />

  <!-- Start gazebo simulation. -->
  <include file="$(find turtlebot3_gazebo)/launch/turtlebot3_world.launch"/>

  <!-- Publish turtlebot3 tf's. -->
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="waffle_state_publisher"/>

  <!-- Launch elevation mapping node. -->
  <node pkg="elevation_mapping_cupy" type="elevation_mapping_node" name="elevation_mapping" output="screen">
    <rosparam command="load" file="$(find elevation_mapping_cupy)/config/parameters.yaml" />
    <rosparam>
      map_frame: odom
      base_frame: base_footprint
      pointcloud_topics: ["/camera/depth/points"]
      initialize_frame_id: ['base_footprint']
      initialize_tf_offset: [0.0]
    </rosparam>
  </node>

  <!-- Launch RViz with the demo configuration. -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rviz_config)"/>

</launch>
