<launch>

  <!-- Launch the grid map filters demo node. -->
  <node pkg="convex_plane_extraction" type="convex_plane_extraction_node" name="convex_plane_extraction" output="screen">
    <!-- Input topic -->
    <param name="input_topic" value="/grid_map_filter_demo/filtered_map" />
  	<!--><param name="input_topic" value="/elevation_mapping/elevation_map" /> -->
	<param name="ransac_probability" value="0.05" />
	<param name="ransac_min_points" value="100" />
	<param name="ransac_epsilon" value="0.01" />
	<param name="ransac_cluster_epsilon" value="0.02" />
	<param name="ransac_normal_threshold" value="0.98" />
	<param name="plane_extractor_type" value="sliding" />
	<param name="sliding_window_plane_error" value="0.004" />
  </node>
  <node type="rviz" name="rviz" respawn="true" pkg="rviz" args="-d $(find convex_plane_extraction)/rviz/config.rviz" />
</launch>
